<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match the Input</title>
</head>
<body>
you are logged in as {{ user.username }}
{% if message %}
{{message}}
{% endif %}
<form action="{% url 'mainapp:responses' %}" method="POST">
    {% csrf_token %}
{% for i in sets %}
    Input: {{i.input}}<br>choices:<br>
    <fieldset id="{{i.external_id}}" name="{{i.external_id}}">
        {% if i.choice1 %}
        <input type="radio" value="{{i.choice1}}" checked="checked" name="{{i.id}}">{{i.choice1}}<br>
        {% endif %}
        {% if i.choice2 %}
        <input type="radio" value="{{i.choice2}}" checked="checked" name="{{i.id}}">{{i.choice2}}<br>
        {% endif %}
        {% if i.choice3 %}
        <input type="radio" value="{{i.choice3}}" checked="checked" name="{{i.id}}">{{i.choice3}}<br>
        {% endif %}
        {% if i.choice4 %}
        <input type="radio" value="{{i.choice4}}" checked="checked" name="{{i.id}}">{{i.choice4}}<br>
        {% endif %}
        {% if i.choice5 %}
        <input type="radio" value="{{i.choice5}}" checked="checked" name="{{i.id}}">{{i.choice5}}<br>
        {% endif %}
        {% if i.choice6 %}
        <input type="radio" value="{{i.choice6}}" checked="checked" name="{{i.id}}">{{i.choice6}}<br>
        {% endif %}
    </fieldset>
{% endfor %}
    <input type="submit" value="Submit">
</form>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</body>
</html>